.header__lang-link {
    color: #fff;
    width: 30px;
    height: 28px;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 18px;
    margin-top: 46px;
    transition: opacity .6 linear;
}

.header__lang-link:hover {
    opacity: .6;
}

@media  screen and (max-width: 320px){
    .header__lang-link {
        margin-top: 30px;
    }
}
