.cover__link {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 740px;
}

.cover__link::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    transition: opacity .6 linear;
}

.cover__link:hover::before {
    opacity: 0.6;
}

@media screen and (max-width: 1023px){
    .cover__link{
        width: 100%;
        max-width: 768px;
        max-height: 480px;
        background-size: contain;
        background-position: top;
    }
}

@media screen and (max-width: 767px){
    .cover__link{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        background-size: contain;
        background-position: top;
    }
}
    
