.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        padding: 0 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0;
        margin-bottom: 32px;
    }
}