.place__title {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-area: 'title';
    text-align: justify;
}