.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(auto-fit, 213px);
    row-gap: 16px;
    column-gap: 16px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit, 225px);
        row-gap: 14px;
        column-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin-bottom: 88px;
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(auto-fit, 264px);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin-bottom: 64px;
        grid-template-columns: repeat(auto-fit, 288px);
        grid-template-rows: repeat(auto-fit, 216px);
        row-gap: 12px;
    }
}
