<<<<<<< HEAD

=======
@font-face {
    font-family: 'Inter-Black';
    src: url(./fonts/Inter-Web/Inter-Black.woff);
    font-style: normal; 
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd

  h1, h2, h3, h4, div, p, section, span, img, ul, li, a {
    border: 1px solid red;
 }  

 .root {
    background-color: #2A2C2F; 
} 

.page {
    background-color: #2A2C2F;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-top: 28px;
    margin-bottom: 56px;
    margin-left: 48px;
}

.header__lang-link-box{
    display: flex;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

}

.header__lang-link {
    color: #fff;
    width: 30px;
    height: 28px;
    font-family: 'Inter-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 18px;
    margin-top: 46px;
}

.header__lang-link_not-selected {
    text-decoration: none;
}

.lead {
    margin: 0;
}

.lead__title {
    color: #fff;
    font-family: 'Inter-Black';
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 720px;
    max-height: 200px;
}

.lead__subtitle {
    color: #fff;
    width: 640px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    max-width: 76.5%;
    max-height: 76.5%;
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
}
.lead__caption {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 14px;
    margin-left: 11.5%;
}

.intro {
    margin-top: 92px;
    min-width: 690px;
    min-height: 429px;
}

.intro__title {
    max-width: 690px;
    max-height: 58px;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-left: 11.5%;
    margin-top: 0;
    margin-bottom: 0;
}

.intro__text {
    max-width: 690px;
    max-height: 208px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%; /* или 26px */
    color: #FFFFFF;
    margin-left: 11.5%;
    margin-top: 40px;
    margin-bottom: 33px;
}

.intro__list {
    max-width: 690px;
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px; /* или 150% */
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 11.5%;
}

.intro__list-number {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px; /* или 150% */
    color: #FFFFFF;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(auto-fit, 213px);
    row-gap: 16px;
    column-gap: 16px;
    margin-top: 92px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.photo-grid__item {
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    align-self: center;
}

.places {
    margin: 0;
}

.place {
    margin-top: 92px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 984px;
    max-height: 660px;
    display: grid;
<<<<<<< HEAD
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
=======
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
    column-gap: 40px;
    row-gap: 48px;
    
}

.place__title {
    max-width: 460px;
    max-height: 152px;
    margin: 0;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    grid-column: 1/2;
    grid-row: 1/2;
}

.place__image {
    max-width: 68%;
    max-height: 68%;
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/2;
}

.place__website {
    max-width: 456px;
    max-height: 46px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: end;
}

.place__url-heading {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__link {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s linear;
}

.place__link:hover {
    opacity: .6;
}

.place__text{
    grid-column: 2/3;
    grid-row: 2/3;
    
}

.place__paragraph { 
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 26px;
    margin-left: 0;
    margin-right: 0;
} 

/* .place__paragraph:last-child {
    align-self: end;
} */

.cover {
    margin: 0 auto;
<<<<<<< HEAD
    margin-top: 92px;
=======
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
    max-width: 1184px;
    position: relative;
}

.cover__link {
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 740px;
}

.cover__link::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
<<<<<<< HEAD
    transition: opacity .6 linear;
=======
    transition: opacity 0.6 linear;
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
}

.cover__link:hover::before {
    opacity: 0.6;
}

.cover__title {
    margin: 0 auto;
    margin-top: 245px;
<<<<<<< HEAD
    font-family: 'Inter-Black';
=======
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    z-index: 1;
}

.cover__subtitle {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 245px;
<<<<<<< HEAD
    font-family: 'Inter-Regular';
=======
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    z-index: 1;
<<<<<<< HEAD
}

.footer {
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;
    max-width: 1184px;
    position: relative;
}

.footer__link {
    margin: 0 auto;
    margin-left:;
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.6 linear;
}

.footer__link:hover{
    opacity: .6;
}

.footer__copyright {
    max-width: 186px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
=======
>>>>>>> 4d40276e2e5f591df2d1a70628fe155009054edd
}