.intro__list {
    max-width: 690px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px; /* или 150% */
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-left: 11.5%; */
}

/* @media screen and (max-width: 1024px) {
    .intro__list {
        margin-left: 0;
    }   
} */

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 320px;
        font-size: 12px;
        line-height: 18px;
    }
}