.cover__subtitle {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 245px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    z-index: 1;
}

@media screen and (max-width: 767px){
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 260px;
        margin-top: 16px;
        margin-bottom: 33px;
        
    }
}