.header__lang-box{
    display: flex;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

}

@media  screen and (max-width: 767px){ 
    .header__lang-box {
        margin-top: -10px;
    }
}