.header__logo {
    margin-top: 28px;
    margin-bottom: 56px;
    margin-left: 48px;
}

@media  screen and (max-width: 320px){
    .header__logo {
        width: 142px;
        height: 42px;
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
}