.footer__link {
    margin-right: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.6 linear;
    max-width: max-content;
}

.footer__link:hover{
    opacity: .8;
}

@media screen and (max-width: 767px){
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 32px;
    }  
}
