.footer__link {
    width: max-content;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.6 linear;
    grid-area: 'link';
}

.footer__link:hover{
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
        margin-left: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;  
    }   
}