.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        padding: 0 16px 0 16px;
        margin: 0 16px 16px 16px;
        margin-left: 0;
        font-size: 40px;
        
    }
    
}