.place__paragraph { 
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 26px;
    margin-left: 0;
    margin-right: 0;
} 

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
    }   
}
