.place__paragraph {
    margin: 32px 16px 0 16px;
    font-size: 16px;
    line-height: 1.63;
}

.place__paragraph:nth-child(2n) {
    margin: 25px 16px 0 16px;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0 0 25px 0;
    }
    .place__paragraph:nth-child(2n) {
        margin: 0;
    }
}