.footer__copyright {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    justify-self: end;
}

@media screen and (max-width: 767px) {
    .footer__copyright{
        margin-top: 16px;
        line-height: 14px;
    }
    
}