.footer__copyright {
    max-width: 186px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        position: static;
        text-align: left;
        margin-left: 16px;
    }   
}