.lead__image {
    max-width: 76.5%;
    max-height: 76.5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }   
}

@media  screen and (max-width: 1023px){
    .lead__image{
        max-width: 100%;

    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-height: 100%;
        margin: 0;
    }
}
/* Здесь есть дубль max-width: 100%; но если какой-то из них убрать
появляется горизонтальный скролл, другого решения я не нашел, если
можно, я бы оставил так, или ,пожалуйста, подскажите как сделать правильно? */

/*Спасибо большое, за под сказку про нижнюю границу */