.lead__subtitle {
    color: #fff;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media  screen and (max-width: 320px){
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;     
    }
}