.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity .5s linear;
}

.place__link:hover {
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .place__link {
        margin-left: 16px;
    }
}