.lead__caption {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 80%;
    text-align: justify;
    margin-left: 148px;
    margin-top: 8px;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        margin-left: 48px;
    }
    
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }   
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}