.lead__caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 14px;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }   
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}