.place {
    margin-top: 80px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-areas: 
    'title web'
    'image text';
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 100px;
        grid-template-areas:
        'title'
        'web'
        'image'
        'text';
    }   
}



