.place {
    margin-top: 80px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }   
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
    }   
}

@media screen and (min-width: 320px) and (max-width: 700px){
    .place {
         display: block;
         max-width: 320px;
         min-height: 964px;
         margin-bottom: 50px;
    }   
}



