.place {
    margin: 0 0 92px 0;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        margin: 0 0 72px 24px;
        display: grid;
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
    .place:last-child {
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    .place {
        margin: 0;
        padding: 24px 0;
        grid-template-columns: minmax(288px, 1fr);
        grid-gap: 32px;
    }
}