.place {
    margin: 0 0 80px 0px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        margin-left: 48px;
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        margin: 0 0 72px 24px;
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
    .place:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 767px) {
    .place {
        margin: 0;
        margin-bottom: 50px;
        grid-template-columns: minmax(288px, 1fr);
        grid-gap: 32px;
    }
    .place:last-child {
        margin-bottom: 0;
    }
}