.place {
    margin-top: 80px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 984px;
    max-height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px; 
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }   
}