.footer {
    margin: 0 auto;
    width: calc(100% - 96px);
    margin-top: 92px;
    margin-bottom: 24px;
    max-width: 1184px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'link . . . . .copyright';
    justify-content: space-between;
}