.footer {
      margin: 0 auto;
      width: calc(100% - 96px);
      margin-top: 92px;
      margin-bottom: 24px;
      max-width: 1184px;
      display: flex;
      justify-content: space-between;
  }
  
  @media screen and (max-width: 1023px){
      .footer {
          width: calc(100% - 48px);
      }
      
  }
  
  @media screen and (max-width: 767px){
      .footer {
          margin-top: 64px;
          max-width: 320px;
          flex-direction: column;
      }
      
  }