.place__website {
    max-width: 456px;
    max-height: 46px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
}

@media screen and (max-width: 320px){
    .place__website {
        margin-bottom: 32px;
    }
    
}
